/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Intro*/

#intro {
    color: white;
    font-family: 'Road Rage', sans-serif;
    font-size: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.intro {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 75%;
    margin: auto;

}