/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

.title {
    color: white;
    font-family: 'Road Rage',sans-serif;
    font-size: 70PX;
}

fieldset {
    border: 2px solid #00c0ff;
    width: 70%;
}

legend {
    color: white;
    font-size: 20px;
    background-color: transparent;
    margin: 20px 0 5px 15px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.form-label {
    color: white;
    font-size: 30PX;
    padding-left: 10px;
}

.form-input {
    background-color: #06242e;
}

select, option, textarea {
    background: #06242e;
}

input[type="text"],
input[type="email"],
option,
select {
    font-size: 20px;
    padding-left: 10px;
    height: 28px;
    color: white;
}

textarea {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    margin: 0 0 5px 15px;
    width: 85%;
    color: white;
    padding-left: 5px;
}

input[type="reset"],
input[type="submit"] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 20px;
    font-size: 20px;
    background-color: #00c0ff;
    color: #06242e;
    border: 1px solid #06242e;
    border-radius: 5px;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #06242e;
    color: #00c0ff;
    border: 1px solid #00c0ff;
}