/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

.title {
    color: white;
    font-family: 'Road Rage',sans-serif;
    font-size: 70PX;
    grid-column-start: 2;
    background-color: transparent;
}

.thank-you {
    color: white;
    font-size: 20px;
}

fieldset {
    border: 2px solid #00c0ff;
    width: 90%;
}

legend {
    color: white;
    font-size: 20px;
    background-color: transparent;
    margin: 20px 0 5px 15px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.image {
    justify-self: center;
    align-self: center;
    max-width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-row-start: 2;
}

form {
    grid-column-start: 2;
    grid-row-start: 2;
}

.form-label {
    color: white;
    font-size: 25PX;
    padding-left: 10px;
}

.form-input {
    background-color: #06242e;
}

select, option, textarea {
    background: #06242e;
}

input[type="text"],
input[type="email"],
option,
select {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 12px;
    border: 1px solid #00c0ff;
    border-radius: 4px;
    resize: vertical;
    color: white;
}

textarea {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    width: 90%;
    border: 1px solid #00c0ff;
    border-radius: 4px;
    resize: vertical;
    color: white;
    padding-left: 5px;
}

input[type="reset"],
input[type="submit"] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 20px;
    font-size: 20px;
    background-color: #00c0ff;
    color: #06242e;
    border: 1px solid #06242e;
    border-radius: 5px;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #06242e;
    color: #00c0ff;
    border: 1px solid #00c0ff;
}

@media screen and (max-width:1278px) {

    
}

@media screen and (max-width:1172px) {   
    input[type="reset"],
    input[type="submit"] {
        margin-top: 20px;
        margin-left: 0.75rem;
        padding: 15px;
        font-size: 15px;
        background-color: #00c0ff;
        color: #06242e;
        border: 1px solid #06242e;
        border-radius: 5px;
    }
}
@media screen and (max-width:1065px) {
    fieldset {
        width: 90%;
    }
}

@media screen and (max-width:926px) {
    fieldset {
        width:95%;
    }
}

@media screen and (max-width:820px) {
    input[type="text"],
    input[type="email"],
    option,
    select {
        width: 85%;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #00c0ff;
        border-radius: 4px;
        resize: vertical;
        color: white;
    }

    .image {
        visibility: hidden;
    }

    .title {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        align-self: center;
    }

    form {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    fieldset {
        background-color: transparent;
    }
}