/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    margin-top: 0px;
    padding:0;
    border: none;
    background-color: black;
}

body {
    font-family: Kanit, sans-serif;
}

/*background image*/
.bg-img{
    background: url('../img/cadius_banner_test.jpg') no-repeat center ;
}

/*Grid configuration*/
#grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 200px 200px 200px;
    grid-row-start: 2;
    justify-items: center;
}

/*Logo*/
.logo {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: transparent;
    justify-items: start;
}

/*Navigation position*/
.svr-details, .about-us, .contact-us {
    grid-row-start: 4;
    background-color: transparent;
    color: white;
    font-size: 110%;
    align-items: center;
}

/*Button description*/
.svr-details p {
    margin-top: 15px;
    width: 400px;
    text-align: center;
    grid-column-start: 1;
    background-color: transparent;
}

.about-us p {
    margin-top: 15px;
    width: 400px;
    text-align: center;
    grid-column-start: 2;
    background-color: transparent;
}

.contact-us p {
    margin-top: 15px;
    width: 400px;
    text-align: center;
    grid-column-start: 3;
    background-color: transparent;
}

/*Button standards*/
.svr-details a {
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px;
    border: 3px solid white;
    margin-left: 24%;
    text-decoration: none;
}

.about-us a {
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px;
    border: 3px solid white;
    margin-left: 24%;
    text-decoration: none;
}

.contact-us a {
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px;
    border: 3px solid white;
    margin-left: 24%;
    text-decoration: none;
}

/*Hover over for buttons*/
.svr-details a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
}

.about-us a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
}

.contact-us a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
}

@media screen and (max-width:1201px) {
    .logo {
        margin-top: 15px;
        width: 590px;
        height: auto;
        grid-row-start: 1;
    }

    .bg-img {
        background: none;
    }

    body {
        background: url('../img/cadius_banner_993.jpg') no-repeat center center;
        position: absolute;
    }

    #grid {
        display: grid;
        grid-template-columns: 400px 400px 400px;
    }

    .svr-details {
        align-self: center;
        justify-self: left;
        grid-row-start: 3;
    }

    .about-us {
        align-self: center;
        justify-self: center;
        grid-row-start: 3;
    }

    .contact-us {
        align-self: center;
        justify-self: right;
        grid-row-start: 3;
    }
}

@media screen and (max-width:993px) {
    .bg-img {
        background: none;
    }
    #grid {
        display: grid;
        grid-template-columns: 330px 330px 330px;
    }

    .svr-details {
        align-self: center;
        justify-self: left;
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .about-us {
        align-self: center;
        justify-self: center;
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .contact-us {
        align-self: flex-end;
        justify-self: right;
        grid-row-start: 4;
        grid-column-start: 3;
    }
    
}

@media screen and (max-width:601px) {
    body {
        background: none;
    }

    .bg-img {
        background: url('../img/cadius_banner_main.jpg') no-repeat;
    }

    #grid {
        display: grid;
        grid-template-columns: 200px 200px 200px;
    }

    .svr-details {
        align-self: center;
        justify-self: center;
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .about-us {
        align-self: center;
        justify-self: center;
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .contact-us {
        align-self: center;
        justify-self: center;
        grid-row-start: 4;
        grid-column-start: 2;
    }
}



