/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    padding:0;
    border: none;
    background-color: black;
}

body {
    font-family: Kanit, sans-serif;
}

/*background image*/
.bg-img{
    background: url('../img/cadius_banner_test.jpg') no-repeat center ;
}

/*Grid configuration*/
#grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 200px 200px 200px;
    grid-row-start: 2;
    justify-items: center;
}

/*Logo*/
.logo {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: transparent;
    justify-items: start;
}

/*Navigation position*/
.svr-details, .about-us, .contact-us {
    grid-row-start: 4;
    background-color: transparent;
    color: white;
    font-size: 110%;
    align-items: center;
}

/*Button description*/
.svr-details p {
    width: 400px;
    text-align: center;
    grid-column-start: 1;
    background-color: transparent;
}

.about-us p {
    width: 400px;
    text-align: center;
    grid-column-start: 2;
    background-color: transparent;
}

.contact-us p {
    width: 400px;
    text-align: center;
    grid-column-start: 3;
    background-color: transparent;
}

/*Button standards*/
.svr-details a {
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px;
    border: 3px solid white;
    margin-left: 24%;
    text-decoration: none;
}

.about-us a {
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px;
    border: 3px solid white;
    margin-left: 24%;
    text-decoration: none;
}

.contact-us a {
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px;
    border: 3px solid white;
    margin-left: 24%;
    text-decoration: none;
}

/*Hover over for buttons*/
.svr-details a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
}

.about-us a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
}

.contact-us a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
}