/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    margin-top: 0px;
    padding:0;
    border: none;
    background-color: black;
}

body {
    font-family: Kanit, sans-serif;
}

/*background image*/
.bg-img{
    background: url('../img/cadius_banner_test.jpg') no-repeat center ;
}

/*Grid configuration*/
#grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 200px 200px 200px 200px;
    grid-row-start: 2;
    justify-items: center;
}

/*Logo*/
.logo {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: transparent;
    justify-items: start;
}

/*Navigation position*/
.svr-details, .about-us, .contact-us {
    grid-row-start: 4;
    background-color: transparent;
    color: white;
    font-size: 1vw;
    justify-self: center;
}

.svr-details {
    grid-column-start: 1;
}

.about-us {
    grid-column-start: 2;
}

.contact-us {
    grid-column-start: 3;
}


/*Button description*/
.svr-details-p, .about-us-p, .contact-us-p {
    margin-top: 15px;
    width: 80%;
    text-align: center;
    background-color: transparent;
    justify-self: center;
    align-self: center;
}

/*Button standards*/
.svr-details-a, .about-us-a, .contact-us-a  {
    font-family: 'Road Rage', sans-serif;
    font-size: 3vw;
    color: white;
    padding: 0 5px 0 5px;
    border: 3px solid white;
    text-decoration: none;
    align-self: start;
}


/*Hover over for buttons*/
.svr-details a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
    transition: all 0.2s ease-in-out;
}

.about-us a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
    transition: all 0.2s ease-in-out;
}

.contact-us a:hover {
    color: #00c0ff;
    border-color: #00c0ff;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:1201px) {
    #grid {
        grid-template-rows: 200px 200px 150px 200px;
    }

    .logo {
        margin-top: 15px;
        width: 590px;
        height: auto;
        grid-row-start: 1;
    }

    .bg-img {
        background: none;
    }

    body {
        background: url('../img/cadius_banner_993.jpg') no-repeat center center;
    }

    .svr-details {
        grid-row-start: 3;
    }

    .about-us {
        grid-row-start: 3;
    }

    .contact-us {
        grid-row-start: 3;
    }

    .svr-details-p, .about-us-p, .contact-us-p {
        font-size: 1vw;
    }
}

@media screen and (max-width:993px) {
    #grid {
        grid-template-rows: 200px 200px 100px 200px;
    }

    .bg-img {
        background: none;
    }

    .svr-details {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .about-us {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .contact-us {
        grid-row-start: 3;
        grid-column-start: 3;
    }

    .svr-details-p, .about-us-p, .contact-us-p {
        font-size: 1vw;
    }
    
}

@media screen and (max-width:601px) {
    body {
        background: none;
    }

    .logo {
        margin-top: 15px;
        width: 400px;
        height: auto;
        grid-row-start: 1;
    }

    #grid {
        grid-template-rows: repeat(5, 100px);
    }

    .bg-img {
        background: url('../img/cadius_banner_main.jpg') no-repeat;
    }

    .svr-details {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .about-us {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .contact-us {
        grid-row-start: 3;
        grid-column-start: 3;
    }

    .svr-details-p, .about-us-p, .contact-us-p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width:415px) {
    .logo {
        width: 300px;
        height: auto;
    }
}

