/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Section Titles*/

.title {
    color: white;
    font-size: 50px;
    font-family: 'Road Rage',sans-serif;
    padding-left: 7%;
}

/*Intro*/

#intro {
    color: white;
    font-family: 'Road Rage', sans-serif;
    font-size: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.intro {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 75%;
    margin: auto;

}

/*Game Info*/

.game-grid {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.game-left {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    font-family: Kanit, sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 7%;
    background-color: transparent;
}

.game-desc-left {
    grid-row-start: 2;
    grid-column-start: 1;
    font-family: Kanit, sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 10%;
    padding-right: 2%;
}

.game-img-right {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
}

.game-right {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    font-family: Kanit, sans-serif;
    font-size: 30px;
    color: white;
    padding-right: 7%;
    background-color: transparent;
}

.game-desc-right {
    grid-row-start: 2;
    grid-column-start: 2;
    font-family: Kanit, sans-serif;
    font-size: 20px;
    color: white;
    padding-right: 10%;
    padding-left: 2%;
}

.game-img-left {
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: center;
}

/*Server Detail*/

.server-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px;
    background-color: transparent;
}

.server-title {
    text-decoration: underline white;
    font-size: 20px;
}

.server-left {
    grid-column-start: 1;
    justify-self: right;
    align-self: center;
    color: white;
    background: transparent;
}

.server-containter {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.server-center-spaceeng {
    background: url(../img/SpaceLogo.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.server-center-minecraft {
    background: url(../img/Minecraft-block.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.server-right {
    grid-column-start: 3;
    justify-self: left;
    align-self: center;
    color: white;
}

.server-right p {
    background-color: transparent;
}

.server-right li {
    text-indent: 15px;
    list-style-type: none;
}

.server-center-discord {
    background: url(../img/discord-logo.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.server-link {
    color: white;
}

.server-link:hover {
    color: #00c0ff;
}

/* Media Queries */

@media screen and (max-width:993px) {
    .game-grid img {
        width: 400px;
        height: auto;
    }

    .game-desc-left, .game-desc-right {
        font-size: 15px;
    }

    .game-left, .game-right {
        font-size: 20px;
    }

    .server-left, .server-right {
        text-align: center;
        justify-self: normal;
    }

    iframe {
        width: 300px;
    }
}

@media screen and (max-width:900px) {
    .game-grid {
        grid-template-columns: 100%;
    }

    .game-left, .game-right {
        grid-row-start: 1;
        grid-column-start: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .game-img-left, .game-img-right {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-self: center;
        align-self: center;
        padding-right: 0;
        padding-left: 0;
    }

    .game-desc-left, .game-desc-right {
        grid-row-start: 3;
        grid-column-start: 1;
        text-align: center;
        justify-self: center;
        padding-left: 2%;
        padding-right: 2%;
    }

    .server-containter {
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
        width: 150px;
        height: 150px;
        padding: 10px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width:601px) {
    .title {
        padding-left: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .game-grid {
        grid-template-columns: 100%;
    }

    .game-left, .game-right {
        grid-row-start: 1;
        grid-column-start: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .game-img-left, .game-img-right {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-self: center;
        align-self: center;
        padding-right: 0;
        padding-left: 0;
    }

    .game-desc-left, .game-desc-right {
        grid-row-start: 3;
        grid-column-start: 1;
        text-align: center;
        justify-self: center;
        padding-left: 0;
        padding-right: 0;
    }

    .server-containter {
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
        width: 150px;
        height: 150px;
        padding: 10px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .server-center-spaceeng {
        background: url('../img/spacelogo_601.png') no-repeat center center;
    }

    .server-left, .server-right {
        font-size: 15px;
        text-align: center;
    }

    iframe {
        visibility: hidden;
    }
}

@media screen and (max-width:540px) {
    .server-containter {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .server-grid {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .server-right {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .server-left {
        grid-row-start: 1;
    }
}