/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    margin: 0px;
    padding:0;
    border: none;
    background-color: black;
}

body {
    font-family: Kanit, sans-serif;
}

hr {
    border-top: 1px solid white;
    width: 90%;
    margin: auto;
    align-items: center;
    padding-bottom: 5px;
}

.game-line-break {
    border-top: 1px solid #00c0ff;
}

/*Banner and Navigation bars*/

#top-banner {
    background: url('../img/cadius_banner_main.jpg') no-repeat center;
}

.logo {
    background-color: transparent;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nav-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
    background-color: transparent;
    border-bottom: 1px solid white;
    justify-items: center;
    align-items: center;
}

.nav {
    grid-column-start: 1;
    font-family: 'Road Rage', sans-serif;
    font-size: 55px;
    color: white;
    text-decoration: none;
}

.active {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
}

.nav:hover {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
}

#sub-menu {
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    grid-template-rows: 70px;
    background-color: transparent;
    justify-items: center;
    align-items: center;
}

.sub-menu {
    grid-column-start: 2;
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.sub-menu:hover {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
}

.title {
    color: white;
    font-size: 50px;
    font-family: 'Road Rage',sans-serif;
    padding-left: 7%;
}

#intro {
    color: white;
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    text-align: center;
    width: 50%;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

#intro > .intro {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.game-left {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    font-family: Kanit, sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 7%;
    background-color: transparent;
}

.game-desc-left {
    grid-row-start: 2;
    grid-column-start: 1;
    font-family: Kanit, sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 10%;
}

.game-img-right {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: right;
    padding-right: 10%;
}

.game-right {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    font-family: Kanit, sans-serif;
    font-size: 30px;
    color: white;
    padding-right: 7%;
    background-color: transparent;
}

.game-desc-right {
    grid-row-start: 2;
    grid-column-start: 2;
    font-family: Kanit, sans-serif;
    font-size: 20px;
    color: white;
    padding-right: 10%;
}

.game-img-left {
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: left;
    padding-left: 10%;
}

.server-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px;
    background-color: transparent;
}

.server-title {
    text-decoration: underline white;
    font-size: 20px;
}

.server-left {
    grid-column-start: 1;
    justify-self: right;
    align-self: center;
    color: white;
}

.server-containter {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.server-center-spaceeng {
    background: url(../img/SpaceLogo.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.server-center-minecraft {
    background: url(../img/Minecraft-block.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.server-right {
    grid-column-start: 3;
    justify-self: left;
    align-self: center;
    color: white;
}

.server-right li {
    text-indent: 15px;
    list-style-type: none;
}

.server-center-discord {
    background: url(../img/discord-logo.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30px;
    background-color: transparent;
}

.facebook {
    grid-column-start: 4;
    justify-self: right;
    align-self: center;
}

.facebook i {
    color: #00c0ff;
}

.twitter {
    grid-column-start: 4;
    justify-self: center;
    align-self: center;
}

.twitter i {
    color: #00c0ff;
}

.youtube {
    grid-column-start: 4;
    justify-self: center;
    align-self: center;
}

.youtube i {
    color: #00c0ff;
}

.instagram {
    grid-column-start: 4;
    justify-self: left;
    align-self: center;
}

.instagram i {
    color: #00c0ff;
}