/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    margin: 0px;
    padding:0;
    border: none;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Kanit, sans-serif;
}

hr {
    border-top: 1px solid white;
    width: 90%;
    margin: auto;
    align-items: center;
    padding-bottom: 5px;
}

.game-line-break {
    border-top: 1px solid #00c0ff;
}

#myBtn {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00c0ff;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
    color: white;
    transition: all 0.2s ease-in-out;
  }
  
/*Banner and Navigation bars*/

#top-banner {
    background: url('../img/cadius_banner_main.jpg') no-repeat center;
}

.logo {
    background-color: transparent;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nav-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
    background-color: transparent;
    border-bottom: 1px solid white;
    justify-items: center;
    align-items: center;

}

.nav {
    overflow: hidden;
    font-family: 'Road Rage', sans-serif;
    font-size: 55px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.icon {
    display: none;
    grid-column-start: 4;
    color: white;
    font-size: 55px;
  }

.active {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
}

.nav:hover {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
    transition: all 0.2s ease-in-out;
}

.nav1 {
    grid-column-start: 1;
}

.nav2 {
    grid-column-start: 2;
}

.nav3 {
    grid-column-start: 3;
}

.nav4 {
    grid-column-start: 4;
}

.topnav .icon {
    display: none;
  }

/*Sub Navigation*/
#sub-menu-info {
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    grid-template-rows: 70px;
    background-color: transparent;
    justify-items: center;
    align-items: center;
}

#sub-menu-about {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70px;
    background-color: transparent;
    justify-items: center;
    align-items: center;
}

.sub-menu {
    grid-row-start: 1;
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.sub-menu:hover {
    border-bottom: 2px solid #00c0ff;
    transition: all 0.2s ease-in-out;
}

.sub-nav1 {
    grid-column-start: 1;
}

.sub-nav2 {
    grid-column-start: 2;
}

.sub-nav3 {
    grid-column-start: 3;
}

.sub-nav4 {
    grid-column-start: 4;
}

/*Footer*/

footer {
    height: 100px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    background-color: transparent;
}

.copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 20px;
}

.social-networks {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
}

.social-networks i {
    color: #00c0ff;
    padding-left: 30px;
    font-size: 50px;
}

.social-networks i:hover {
    color: white;
    font-size: 55px;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:1400px) {
    .nav {
        font-size: 45px;
    }

    .sub-menu{
        font-size: 30px;
    }
}


@media screen and (max-width:1201px) {
    #top-banner {
        background: url('../img/cadius_banner_main_1200.jpg') no-repeat center;
    }

}

 @media screen and (max-width:1162px) {
    .nav {
        font-size: 35px;
    }

    .sub-menu{
        font-size: 25px;
    }

}

@media screen and (max-width:926px) {
    .nav {
        font-size: 25px;
    }
}

@media screen and (max-width:783px) {
    .social-networks i {
        color: #00c0ff;
        padding-left: 30px;
        font-size: 40px;
    }
    
    .social-networks i:hover {
        color: white;
        font-size: 45px;
        transition: all 0.2s ease-in-out;
    }
}

@media screen and (max-width:691px) {
    #nav-grid {
        display: block;
        overflow: hidden;
    }

    .active {
        border-bottom: none;
    }

    .nav:hover {
        border-bottom: none;
    }

    .nav1, .nav2, .nav3, .nav4 {
        font-size: 40px;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 35px;
        padding-right: 2%;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #sub-menu-info {
        grid-template-columns: repeat(4,25%);
    }

    .sub-nav3 {
        grid-column-start: 2;
    }

    .sub-nav4 {
        grid-column-start: 3;
    }

    .social-networks i {
        color: #00c0ff;
        padding-left: 15px;
        font-size: 30px;
    }
    
    .social-networks i:hover {
        color: white;
        font-size: 35px;
        transition: all 0.2s ease-in-out;
    }
}

@media screen and (max-width:601px) {
    #top-banner {
        background: none;
    }

    .logo {
        width: 70%;
        align-self: center;
    }

    #sub-menu-info {
        grid-template-columns: 50% 50%;
    }

    .sub-nav3 {
        grid-column-start: 1;
    }

    .sub-nav4 {
        grid-column-start: 2;
    }

    .footer {
        height: 50px;
    }

    .footer-grid {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .copyright {
        font-size: 10px;
    }
}

@media screen and (max-width:451px) {
    .sub-menu{
        font-size: 30px;
    }

    .social-networks i {
        font-size: 20px;
        padding-left: 15px;
    }

    .social-networks i:hover {
        color: white;
        font-size: 25px;
        transition: all 0.2s ease-in-out;
    }
}