/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    margin: 0px;
    padding:0;
    border: none;
    background-color: black;
}

body {
    font-family: Kanit, sans-serif;
}

hr {
    border-top: 1px solid white;
    width: 90%;
    margin: auto;
    align-items: center;
    padding-bottom: 5px;
}

.game-line-break {
    border-top: 1px solid #00c0ff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00c0ff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
/*Banner and Navigation bars*/

#top-banner {
    background: url('../img/cadius_banner_main.jpg') no-repeat center;
}

.logo {
    background-color: transparent;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nav-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
    background-color: transparent;
    border-bottom: 1px solid white;
    justify-items: center;
    align-items: center;
}

.nav {
    grid-column-start: 1;
    font-family: 'Road Rage', sans-serif;
    font-size: 55px;
    color: white;
    text-decoration: none;
}

.active {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
}

.nav:hover {
    color: #00c0ff;
    border-bottom: 2px solid #00c0ff;
}

/*Sub Navigation*/
#sub-menu-info {
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    grid-template-rows: 70px;
    background-color: transparent;
    justify-items: center;
    align-items: center;
}

#sub-menu-about {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70px;
    background-color: transparent;
    justify-items: center;
    align-items: center;
}

.sub-menu {
    grid-column-start: 3;
    font-family: 'Road Rage', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.sub-menu:hover {
    border-bottom: 2px solid #00c0ff;
}

/*Footer*/

footer {
    height: 100px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    background-color: transparent;
}

.copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 20px;
}

.social-networks {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
}

.social-networks i {
    color: #00c0ff;
    padding-left: 30px;
    font-size: 50px;
}

.social-networks i:hover {
    color: white;
    font-size: 55px;
}

@media screen and (max-width:1201px) {
    #top-banner {
        background: url('../img/cadius_banner_main_1200.jpg') no-repeat center;
    }

    .nav {
        font-size: 45px;
    }
}

@media screen and (max-width:993px) {
    .nav {
        font-size: 35px;
    }

}

@media screen and (max-width:601px) {
    #top-banner {
        background: none;
    }

    .logo {
        width: 70%;
        align-self: center;
    }

    .nav {
        font-size: 25px;
    }

    #sub-menu-info {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .sub-menu {
        grid-column-start: 2;
        font-size: 25px;
    }

    .footer {
        height: 50px;
    }

    .footer-grid {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .social-networks i {
        font-size: 30px;
        padding-left: 15px;
    }

    .copyright {
        font-size: 10px;
    }
}