/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

/*Main Style*/
* {
    margin:0;
    padding:0;
    border: none;
    background-color: black;
}

body {
    font-family: Kanit, sans-serif;
}
/*Index*/
.bg-img{
    background: url('../img/cadius_banner_test.jpg') no-repeat center ;
}
#grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 200px 200px 200px;
    grid-row-start: 2;
    justify-items: center;
}

#grid > li {
    text-decoration: none;
}

.logo {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: transparent;
    justify-items: start;
}

.svr-details, .about-us, .contact-us {
    grid-row-start: 4;
    background-color: transparent;
    color: white;
    font-size: 110%;
    align-items: center;
}

.svr-details {
    justify-items: start;
}

.about-us {
    justify-items: center;
}

.contact-us {
    justify-items: end;
}